/* stylelint-disable*/
/**
 * カラーパレットを定義
 *
 * @example html
 *   <div class="color:primary-dark bg-color:600">...</div>
 *
 * @example css
 *   body {
 *     background-color: var(--color-100);
 *     color: var(--color-secondary);
 *   }
 */
 :root {
  /*
   * main colors
   * ※ 利用しないカラーはコメントアウトする
   */
  /** primary */
  --color-primary: #000;
  /* --color-primary-light: #; */
  /* --color-primary-dark: #; */

  /** secondary */
  --color-secondary: #666;
  /* --color-secondary-light: #; */
  /* --color-secondary-dark: #; */


  /** tertiary */
  /* --color-tertiary: #; */
  /* --color-tertiary-light: #; */
  /* --color-tertiary-dark: #; */


  /** quaternary */
  /* --color-quaternary: #; */
  /* --color-quaternary-light: #; */
  /* --color-quaternary-dark: #; */

  /*
   * neutral colors
   * ※ 利用しないカラーはコメントアウトする
   */
  --color-900: #000;
  --color-800: #1C1C1C;
  --color-700: #3C3C3C;
  --color-600: #444;
  --color-500: #555;
  --color-400: #777;
  --color-300: #999;
  --color-200: #BBB;
  --color-100: #F0F0F0;
  --color-000: #fff;

  /*
   * other colors
   * ※ 利用しないカラーはコメントアウトする
   */
  /* red */
  --color-red: #BC3737;
  /* --color-red-light: #; */
  /* --color-red-dark: #; */

  /* green */
  --color-green: #5EC54E;
  /* --color-green-light: #; */
  /* --color-green-dark: #; */

  /* blue */
  --color-blue: #2174BE;
  /* --color-blue-light: #; */
  /* --color-blue-dark: #; */

  /*
   * extra colors
   * 上記のデフォルトカラーに加え、サイト独自に利用したいカラーを設定
   * --color-ex-yellow: #D9CA47; のように -ex- をつけ追加色であることを明示的にする
   */
   /* --color-ex-background: #21282C; */
}

