/* stylelint-disable */

/**
 * font-family 及び font-size を定義
 *
 * @example html
 *   <div class="font:primary font:secondary@lg">font-family</div>
 *   <div class="font:md font:lg@lg">font-size</div>
 *
 * @example css
 *   body {
 *     font-family: var(--font-family-primary);
 *     font-size: var(--font-size-base);
 *   }
 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

:root {
  /**
   * font-family
   */
  /* primary font-family */
  --font-family-primary:
    "Roboto Mono",
    "Noto Sans JP",
    "游ゴシック体",
    yugothic,
    "游ゴシック Medium",
    "Yu Gothic Medium",
    "游ゴシック",
    "Yu Gothic",
    -apple-system,
    "BlinkMacSystemFont",
    "Helvetica Neue",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;

  /* secondary font-family */
  --font-family-secondary:
    "Roboto Mono", monospace;

  /**
   * font-size
   */
  /** default font-size */
  --font-size-2xl: 64px;
  --font-size-xl: 48px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-2xs: 10px;

  /*
   * ex) --media-md font-size
   * 特定のブレイクポイントで変更する場合はこちらを有効化
   */
  /* @media (--media-md) {
    --font-size-2xl: 64px;
    --font-size-xl: 48px;
    --font-size-lg: 24px;
    --font-size-md: 20px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-2xs: 10px;
  } */
}
