/**
 * gapを定義
 * flex, grid の gap に用いる
 *
 * @example html
 *   <div class="cols gap gap:lg@md">...</div>
 *
 * @example css
 *   .selector {
 *     gap: var(--gap-base);
 *   }
 */
:root {
  /** default gaps */
  --gap-base: 40px;
  --gap-2xl: 96px;
  --gap-xl: 80px;
  --gap-lg: 64px;
  --gap-md: 48px;
  --gap-sm: 32px;
  --gap-xs: 24px;
  --gap-2xs: 16px;

  /*
   * ex) --media-md gaps
   * 特定のブレイクポイントで変更する場合はこちらを有効化
   */
  /* @media (--media-md) {
    --gap-base: 40px;
    --gap-2xl: 96px;
    --gap-xl: 80px;
    --gap-lg: 64px;
    --gap-md: 48px;
    --gap-sm: 32px;
    --gap-xs: 24px;
    --gap-2xs: 16px;
  } */
}
