/**
 * gutterを定義
 * あらゆる箇所の余白に用いる
 *
 * @example html
 *   <div class="mt mt:lg@md">...</div>
 *
 * @example css
 *   .selector {
 *     margin-top: var(--gutter-base);
 *   }
 */
:root {
  /** default gutters */
  --gutter-base: 32px;
  --gutter-2xl: 128px;
  --gutter-xl: 80px;
  --gutter-lg: 64px;
  --gutter-md: 48px;
  --gutter-sm: 16px;
  --gutter-xs: 8px;
  --gutter-2xs: 4px;


  /*
   * ex) --media-md gutters
   * 特定のブレイクポイントで変更する場合はこちらを有効化
   */
  /* @media (--media-md) {
    --gutter-base: 32px;
    --gutter-2xl: 128px;
    --gutter-xl: 80px;
    --gutter-lg: 64px;
    --gutter-md: 48px;
    --gutter-sm: 16px;
    --gutter-xs: 8px;
    --gutter-2xs: 4px;
  } */
}
