/**
 * width, height などサイズに関する数値を定義
 *
 * ※ サイトのデザインによって適宜追加・変更してください
 * ※ この設定値は utility class で使用されるものではありません
 */
:root {
  /**
   * width
   *
   * @example css
   *   body {
   *     max-width: var(--width-content-max);
   *   }
   */
  --width-content-max: 1440px;
  --width-content-min: 1024px;

  /*
   * ex) --media-md width
   * 特定のブレイクポイントで変更する場合はこちらを有効化
   */
  /* @media (--media-md) {
    --width-content-max: 1440px;
    --width-content-min: 1024px;
  } */

  /**
   * height
   *
   * @example css
   *   header {
   *     height: var(--height-header);
   *   }
   */
  --height-header: 90px;

  /*
   * ex) --media-md height
   * 特定のブレイクポイントで変更する場合はこちらを有効化
   */
  /* @media (--media-md) {
    --height-header: 90px;
  } */
}
