/* stylelint-disable*/
/**
 * line-height など、文字に関する数値を定義
 */

:root {
  /**
   * line-heightを定義
   *
   * @example html
   *   <div class="line-height line-height:lg@md">...</div>
   *
   * @example css
   *   .selector {
   *     line-height: var(--line-height-base);
   *   }
   */
  /* base line-height */
  --line-height-base: 1.8;

  /** other line-height */
  --line-height-xl: 2.4;
  --line-height-lg: 2.2;
  --line-height-md: 2;
  --line-height-sm: 1.2;

  /**
   * letter-spacingを定義
   *
   * @example html
   *   <div class="letter-spacing line-height:lg@md">...</div>
   *
   * @example css
   *   .selector {
   *     line-height: var(--letter-spacing-base);
   *   }
   */
  /* base letter-spacing */
  --letter-spacing-base: inherit;

  /** other letter-spacing */
  --letter-spacing-xl: 0.08em;
  --letter-spacing-lg: 0.06em;
  --letter-spacing-md: 0.04em;
  --letter-spacing-sm: 0.02em;
}
